header {
	baclgound-color: white;
	position: relative;
	margin: 25px;
	z-index: 3;
}
/*
body {
	background-image: url("img/tischplatte.JPG");
	
	

}
*/
#background {
	margin-top: 50px;
	width: 100%;
	height: auto;
}

#logo {
	height: 133px;
	width: 175px;
	z-index: 2;
	position: center;
	margin-left: 550px;
}

body span {
	font-size: 250%;
	color: black;
	float: left;
	margin-left: 30px;
	margin-top: -200px;
	margin-bottom: 220px;
	border: solid black;
	textAlign: center;
	position: relative;
	width: 100px;
	height: 200px;
	bottom: 500px;
	borderRadius: 5px;
}

button {
	float: left;
	margin-top: 140px;
}

#cardStack {
	color: black;
	text-alingh: center;
	margin-top: 5px;
	border: thin solid black;
	position: absolute;
	background-color: lightgrey;
	width: 80px;
	height: 130px;
	margin-top: 5px;
	borderRadius: 5px;
}

#drawCards {
	color: black;
	text-alingh: center;
	margin-top: 5px;
	margin-left: 1400px;
	border: thin solid black;
	position: absolute;
	background-color: lightgrey;
	width: 80px;
	height: 130px;
	margin-top: 5px;
	borderRadius: 5px;
}
