header {
	baclgound-color: white;
	position: relative;
	margin: 25px;
	z-index: 3;
	
}
/*
body {
	background-image: url("img/tischplatte.jpg");
	
	

}
*/
#background{
	margin-top: 50px;
	width: 100%;
	height: auto;
}

#logo {
	height: 133px;
	width: 175px;
	z-index: 2;
	position: center;
	margin-left: 550px;
}



#a {
	margin-top: -100px;
	float: left;
	margin-left: 30px;
	
}

button {
	float: left;
	margin-top: 140px;
	
}