main {
	
	
	width: 500px;
}

html {
	text-align: center;
}


.box {
	background-color: lightgrey;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
}